@import './config/typography';
@import './config/variables';
@import './config/resets';
@import './config/animations';
@import './config/body';
@import './config/functions';
@import './config/mixins';

// Custom properties for Theme-switcher
html[data-theme="light"] {
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
    --bg: hsl(0, 0%, 98%);
    --el: hsl(0, 0%, 100%);
    --atr: black;
    --atr-a: hsl(228, 45%, 44%); 
}

html[data-theme="dark"]  {
    --text: hsl(0, 0%, 100%);
    --bg: hsl(207, 26%, 17%);
    --el: hsl(209, 23%, 22%);
    --atr: hsla(0, 0%, 100%, 0.479);
    --atr-a: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--atr);
}
.attribution a { 
    color: var(--atr-a);
}