@import "../../styles/config/mixins";
@import "../../styles/config/variables";

.container__countrieslist {
    padding: 2rem 2.4375rem;

    .container__error {
        display: flex;
        padding: 4rem 2rem;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        background: var(--el);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        text-align: center;

        h3 { color: var(--text);}
        span { color: var(--text);}
    }

    .container__loader {
        display: flex;
        padding: 4rem 2rem;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        span {
            font-weight: 600;
            font-size: 0.8rem;
            text-align: center;
        }

        img {
            margin: 1rem auto 0;
        }
    }

    ul.countrieslist{
        list-style: none;
        display: grid;
        row-gap: 2.5rem;
        grid-template-columns: 1fr;

    }
}

@media screen and (min-width: 1000px) {
    .container__countrieslist {
        padding: 3rem 0;
        
        .container__loader {
            flex-flow: row nowrap;
            span {
                font-size: 1.2rem;
            }
    
            img {
                margin: 0 0 0 2rem;
            }
        }
    
        ul.countrieslist{
            column-gap: 4.6875rem;
            row-gap: 4.6875rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
    
        }
    }
}